<?xml version="1.0" encoding="UTF-8"?>
<web-app >
<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>Registration</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/ser1</url-pattern>
</servlet-mapping>

<!-- second servlet -->

<servlet>
<servlet-name>login</servlet-name>
<servlet-class>Login</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>
<url-pattern>/ser2</url-pattern>
</servlet-mapping>
</web-app>